.is-child-theme {
    .modularity-mod-text .box-content ul:not(.social-feed) li + li, 
    .mce-content-body ul li + li, article ul:not(.nav):not(.slider-items):not(.line-numbers):not(.player-playlist):not(.social-feed):not(.dropdown-menu):not(.image-gallery):not(.unlist) li + li, 
    .unordered-list li + li {
        margin-top: 12px;
    }
    
    .modularity-mod-text .box-filled .box-content ul li::before {
        background-color: #000 !important;
    }
    .mce-content-body ul, .modularity-mod-text .box-content ul:not(.social-feed), .unordered-list, article ul:not(.nav):not(.slider-items):not(.line-numbers):not(.player-playlist):not(.social-feed):not(.dropdown-menu):not(.image-gallery):not(.unlist) {
        margin-top: 32px;
    }
    
}
