.single-event {
  .box-filled, * {
    .btn.btn-primary {
      background-color: #3F94D5;
      border-color: #3F94D5;
      color: #fff;
      text-decoration: none;
    }
  }

  .section {
    background-color: #F0F5F7;
  }
}
