.project-header__title {
    font-size: $font-size-large;
    line-height: 1.1;
    font-size: 32px;
    
    @media only screen and (min-width: 78em) {
        font-size: 56px;
    }
}

.project-header__meta {
    font-size: $font-size-copy;
}