#article {
    max-width: 732px;
    margin-left: auto;
    margin-right: auto;
}

.is-child-theme #article {
     

    > blockquote,  
    > figure,
    > div,
    > .featured-post {
        margin-top: 32px;
    }

    > *:first-child {
        margin-top: 0px;
    }
}