#article {
    // max-width: 732px;
    // margin-left: auto;
    // margin-right: auto;
}

.is-child-theme #article.c-article {
    > h2, > .h2,
    > h3, > .h3,
    > h4, > .h4,
    > h5, > .h5,
    > h6, > .h6 {
        margin-top: 56px;
    }

    > h2, > .h2,
    > h3, > .h3,
    > h4, > .h4,
    > h5, > .h5,
    > h6, > .h6,
    > p,
    > table,
    > ul,
    > ol,
    > div,
    > hr,
    > .featured-post {
        max-width: 592px;
        margin-left: auto;
        margin-right: auto;
    }

    > .lead {
        max-width: initial;
    }

    > p,
    > table,
    > ul,
    > ol,
    > figure,
    > div,
    > .featured-post,
    > img {
        margin-top: 24px;
    }

    > figure {
        margin-top: 56px;
    }


    > *:first-child {
        margin-top: 0px;
    }

    img.alignnone {
        width: 100%;
    }
}