.is-child-theme {
    .box .box-content {
        padding: 32px 24px;
        border-radius: 8px;
    }

    .box.box-filled {
        color: $c-black;
        background-color: $c-gray-light;
        box-shadow: none !important;

        a {
            color: $c-black;
        }

        .box-content {
            color: $c-black;
        }


        .box-title {
            padding: 32px 24px 0 24px;
        }
    }



    // Common boxes
    .box.box--project,
    .box.box-index,
    .box.box-card-post {
        box-shadow: none !important;
    
        .box__content {
            padding: 0;
            padding-top: 24px;
        }

        .box__image {
            background-color: $c-gray-dark;
            box-shadow: $box-shadow-card;
            border-radius: 8px;
        }

        .box__meta {
            margin-bottom: $base * 1;
        }

        .box__organisation,
        .box__status {
            color: $c-black;
        }

        .box__title {
            font-size: $font-size-large;
            color: $c-black;
            margin-bottom: $base * 1.5; 
        }

        .box__tags {
            color: $c-gray;
        }
    }

    a.box.box--project:hover {
        .box__tags,
        .box__status,
        .box__organisation {
            text-decoration: none !important;
        }
    }

    a.box.box--project:focus {
        .box__title {
            text-decoration: underline;
        }
        .box__image {
            outline: solid 1px $c-black;
        }
    }

    .box.box-card-post {
        .box__image {
            border-radius: 8px;
        }

        .box__content {
            p {
                color: $c-black;
                font-size: 16px;
            }
        }
    }

    a.box.box-card-post:hover,
    a.box.box-card-post:focus {
        text-decoration: none;
        .box__title {
            text-decoration: underline;
        }
        .box__content p {
            text-decoration: none !important;
        }
    }


    a.box.box-card-post:hover {
        text-decoration: none;
        .box__title {
            text-decoration: underline;
        }
        .box__content p {
            text-decoration: none !important;
        }
    }
    
}