body.is-child-theme {
    .btn {
        font-family: "Roboto";
        font-size: $font-size-copy;
        font-weight: $font-weight-bold;
        padding: $base * 1.25 $base * 2;
        line-height: 22px;
        border-radius: $border-radius-round;
    }

    .btn.btn-lg {
        border-radius: $border-radius-round-lg;
        padding: $base * 3 $base * 5;
    }

    .btn.btn-contrasted {
        background-color: $c-black;
    }

    .btn.btn-contrasted.disabled {
        background-color: $c-gray-light;
        color: #CCCCCC;
    }

    .btn.disabled {
        pointer-events: none;
    }

    .btn.btn-outline.btn-floating.btn-floating--flat {
        box-shadow: none !important;
        border: solid 1px black !important;
        color: black;
        border-radius: 32px !important;
        &:hover {
            background-color: black !important;
            &, i {
                color: white !important;
            }
        }

        &:before {
            display: block;
            width: 100%;
        }

        i.pricon {
            position: absolute;
            color: black;
            top: -2px;
            width: 100%;
            display: block;
            font-size: 12px;
            line-height: inherit;
        }
    } 
}