.featured-post {
    display: flex;
    padding: 32px 24px;
    background-color: $c-gray-light;
    border-radius: 8px;

    .featured-post__image {
        margin-right: 12px;

        img {
            border-radius: 8px;
        }
    }

    .featured-post__content {

    }
    .featured-post__action {
        margin-left: auto;
        align-self: center;
        .btn {
            background-color: white;
            border-color: white;

            &:hover {
                text-decoration: underline;
                border-color: white;
            }
        }
    }
    .featured-post__meta {
        font-size: 14px;
        font-weight: 400;
        display: inline-block;
        text-transform: uppercase;
    }
}
