.is-child-theme.post-type-archive-project .creamy.creamy-border-bottom.archive-filters {
    background: white;
    border: none;
}

.is-child-theme .filterbar.creamy {
    background-color: $c-gray-light;
    border: none;
}