.is-child-theme {
    .main-footer {
        background-color: white;
        border-top: initial;
        box-shadow: initial;


        // Footer widget logo
        .widget_media_image {
            text-align: center;
        }
        .widget_media_image img[src$=".svg"] {
            width: 88px;
            
            @media only screen and (min-width: 78em) {
                width: 96px;
            }
        }
    }
}