// General
.is-child-theme {
	.navbar {
		background-color: white;
	}

	.site-header.header-jumbo a {
		padding: 24px 0px;
	}

	.site-header.header-jumbo a.logotype,
	.site-header .logotype .h1,
	.navbar a {
		color: black;
		font-size: 21px;
	}
}

// Homepage
.is-child-theme.home,
.is-child-theme.single-challenge {
	.navbar {
		background-color: transparent;
	}
	
	.site-header.header-jumbo a.logotype,
	.site-header .logotype .h1,
	.navbar a {
		color: white;
	}

	// Sticky
	.navbar.is-sticky-scroll {
		background-color: white;
		a.logotype,
		.logotype .h1,
		a {
			color: black;
			font-size: 21px;
		}
	}

}