
.section.section-full.section-lg, .section.section-featured.section-lg, .section.section-split.section-lg .section-article {
	height: 97vh;
	min-height: 680px;

	@media only screen and (min-width: 100em) {
		min-height: 800px;
	}
}

.is-child-theme .section.effect-overlay .container,
.is-child-theme .section .grid-xs-12 {
	position: initial;
}

.section.fontsize-xlarge .section-article {
	h1, .h1 {
		font-size: 56px;
		line-height: 1.1;
	}

	h2, .h2 {
		font-size: 40px;
		line-height: 1.1;
	}

	p {
		font-size: 19px;
		font-weight: 300;
	}

	@media only screen and (min-width: 56em) {
		h1, .h1 {
			font-size: 96px;
		}

		h1, .h2 {
			font-size: 72px;
		}

		p {
			font-size: 21px;
		}
	}

	@media only screen and (min-width: 100em) {
		h1, .h1 {
			font-size: 120px;
			line-height: 1.1;
		}

		p {
			font-size: 24px;
		}
	}
	
}
.is-child-theme {
	.section.text-color-dark .section-article h1, .section.text-color-dark .section-article h2, .section.text-color-dark .section-article h3, .section.text-color-dark .section-article h4, .section.text-color-dark .section-article .widget_calendar caption, .widget_calendar .section.text-color-dark .section-article caption, .section.text-color-dark .section-article h5, .section.text-color-dark .section-article h6, .section.text-color-dark .section-image-caption h1, .section.text-color-dark .section-image-caption h2, .section.text-color-dark .section-image-caption h3, .section.text-color-dark .section-image-caption h4, .section.text-color-dark .section-image-caption .widget_calendar caption, .widget_calendar .section.text-color-dark .section-image-caption caption, .section.text-color-dark .section-image-caption h5, .section.text-color-dark .section-image-caption h6 {
		color:$c-black; 
	}
}