.flickity-enabled .flickity-item {
    // height: inherit;
}

.flickity-resize .flickity-item {
    min-height: 100%;
  }

.post-slider .post-slider__flickity:not(.flickity-enabled) .u-flickity-init-hidden {
    display: none !important;
}

.post-slider {
    .flickity-viewport {
        padding: 0 !important;
    }
}

html { overflow-y: scroll; } 