// Base unit
$base: 8px;

// Colors
$c-primary: #A61380;
$c-black: #000000;
$c-white: #FFFFFF;

$c-danger: #FF3F34;

$c-gray: #AAAAAA;
$c-gray-light: #f7f7f7;
$c-gray-dark: #CCCCCC;

$c-status-active: #4EEC91;
$c-status-paused: #FF8C7C;
$c-status-testing: #F9BF3B;
$c-status-exploration:	 #29C5FF;

// Font size
$font-size-small: 14px;
$font-size-large: 24px;
$font-size-copy: 18px;
$font-size-base: 16px;
$font-size-hero: 120px;
$font-size-feature: 72px;
$font-size-feature-copy: 32px;

// Border Radius
$border-radius: 4px;
$border-radius-round: 24px;

// Shadows
$box-shadow-card: 0px 10px 60px rgba(0, 0, 0, 0.12);

// Font weights
$font-weight-normal: 400;
$font-weight-bold: bold;