$base: 8px;

$c-primary: #A61380;
$c-black: #000000;
$c-white: #FFFFFF;

$c-danger: #FF3F34;

$c-gray: #F3F3F3;
$c-grayLight: #f7f7f7;
$c-grayDark: #f7f7f7;

$c-statusActive: #4EEC91;
$c-statusPaused: #FF8C7C;
$c-statusTesting: #F9BF3B;
$c-statusExploration:	 #29C5FF;

$font-size-small: 14px;
$font-size-large: 24px;
$font-size-copy: 18px;
$font-size-base: 16px;
$font-size-hero: 120px;
$font-size-feature: 72px;
$font-size-feature-copy: 32px;

$border-radius: 4px;
$border-radius-round: 24px;