// Base unit
$base: 8px;

// Colors
$c-primary: #A61380;
$c-black: #000000;
$c-white: #FFFFFF;

$c-danger: #FF3F34;

$c-gray: #AAAAAA;
$c-gray-light: #f7f7f7;
$c-gray-dark: #CCCCCC;

$c-status-active: #4EEC91;
$c-status-paused: #FF8C7C;
$c-status-testing: #F9BF3B;
$c-status-exploration:	 #29C5FF;

// Font size
$font-size-small: 14px;
$font-size-large: 24px;
$font-size-copy: 18px;
$font-size-base: 16px;
$font-size-hero: 120px;

$font-size-feature: 72px;
$font-size-feature-copy: 32px;


// Headings
$font-size-h1: 64px;
$font-size-h2: 28px;
$font-size-h3: 21px;
$font-size-h4: 18px;


$font-size-h1-md: 48px;
$font-size-h2-md: 28px;
$font-size-h3-md: 21px;
$font-size-h4-md: 18px;

$font-size-h1-sm: 32px;
$font-size-h2-sm: 28px;
$font-size-h3-sm: 21px;
$font-size-h4-sm: 18px;


// Border Radius
$border-radius: 4px;
$border-radius-round: 24px;
$border-radius-round-lg: 40px;

// Shadows
$box-shadow-card: 0px 10px 60px rgba(0, 0, 0, 0.12);

// Font weights
$font-weight-normal: 400;
$font-weight-bold: bold;


//Breakpoints
$breakpoints-map: (
    xs : 0,         //0px
    sm : 32.5em,    //520px
    md : 56em,      //980px
    lg : 78em,      //1248px
    xl : 100em      //1600px
) !default;

// ***************************************************************
// *** 1. Breakpoints
// ***************************************************************

$screen-xs-min: 0;
$screen-xs-max: map-get($breakpoints-map, sm) - 0.0625em; //468px

$screen-sm-min: $screen-xs-max + 0.0625em; //0.0625em = 1px
$screen-sm-max: map-get($breakpoints-map, md) - 0.0625em; //768px

$screen-md-min: $screen-sm-max + 0.0625em; //0.0625em = 1px
$screen-md-max: map-get($breakpoints-map, lg)- 0.0625em; //960px

$screen-lg-min: $screen-md-max + 0.0625em; //0.0625em = 1px
$screen-lg-max: map-get($breakpoints-map, xl) - 0.0625em; //1280px

$screen-xl-min: $screen-lg-max + 0.0625em; //0.0625em = 1px