$toolbox-themes: (
    'metoder': (
        primary: #D35098,
        foreground:  #FCF7FA,
        invert:white,
    ),
    'metod': (
        primary: #D35098,
        foreground:  #FCF7FA,
        invert:white,
    ),
    'guide': (
        primary: #EC6707,
        foreground:  #FDF7F3,
        invert:white,
    ),
    'tankesatt': (
        primary: #5BA2D9,
        foreground:  #F6F9FC,
        invert:white,
    ),
);


@each $theme, $color in $toolbox-themes {
    .single-#{$theme} {
        .btn.btn-primary {
            background-color: map-get($color, primary);
            border-color: map-get($color, primary);
        }
        
        .featured-post,
        .box.box-filled {
            background-color: map-get($color, foreground);
        }

        .t-foreground {
            background-color: map-get($color, foreground);
        }

        .page-header.page-header--#{$theme} {
            background-color: map-get($color, primary);
            h1, h2, h3, h4, h5, h6, p, .page-header__meta {
                color: map-get($color, invert);
            }
        }       
    }
}
